body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: ghostwhite;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: Advent Pro, sans-serif;
}

header h1{
	color: darkorange;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 50px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid darkorange;
} 

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: midnightblue;
	margin: 40px 0 10px;
}
a{
	color: darkorange;
}
a:hover{
	color: steelblue;
}

footer{
	background-color: ghostwhite;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: silver;
	font-style: italic;
	margin-top: 0;
}